---
import StagerAnimation from "../StagerAnimation.astro";
---

<StagerAnimation isIndividualTitle staggerOrder={5}>
  <div
    class="text-middle w-[20rem] text-xs font-light text-pretty md:w-auto md:text-sm"
  >
    My days go from frontend to backend to whatever rabbit hole I've fallen into
    that day. It can either be a Figma extention or an E2E testing library from
    scratch or a simple day of binge watching that ends in a coffee and mac n
    cheese for dinner.
    <br />
    <br />
    Ultimately, I am a builder at heart; if there is a problem, I will cook up a solution
    for it. My end goal is to be a person who builds tools that others love using.
  </div>
</StagerAnimation>
