---
import Heading from "../components/sections/Heading.astro";
import Socials from "../components/sections/Socials.astro";
import Bio from "../components/sections/Bio.astro";

import Layout from "../layouts/Layout.astro";
import Separator from "../components/Separator.astro";
import WorkExperience from "../components/sections/WorkExperience.astro";
import Book from "../components/sections/Book.astro";
---

<Layout>
  <div class="md:w-130 md:translate-x-12">
    <Heading />
    <Socials />
    <Separator />
    <Bio />
    <Separator />
    <WorkExperience />
    <Separator />
    <Book />
  </div>
</Layout>
