---
import { cn } from "@/lib/utils";
import type { HTMLTag, Polymorphic } from "astro/types";

type Props<Tag extends HTMLTag = "div"> = Polymorphic<{ as: Tag }>;

const { class: className, ...props } = Astro.props;
---

<div class={cn("text-xs/relaxed opacity-80 select-none", className)} {...props}>
  <slot />
</div>
