---
import { cn } from "@/lib/utils";
import type { HTMLTag, Polymorphic } from "astro/types";

type Props<Tag extends HTMLTag = "div"> = Polymorphic<{ as: Tag }>;

const { class: className, ...props } = Astro.props;
---

<div
  class={cn("mt-3 mb-1 font-bold text-balance select-none", className)}
  {...props}
>
  <slot />
</div>
