---
import { cn } from "@/lib/utils";
import type { HTMLTag, Polymorphic } from "astro/types";
import { texturedBackground } from "./constant";
import { Picture } from "astro:assets";

const sizeMap = {
  sm: { width: "150px", spineTranslation: "122px" },
  default: { width: "196px", spineTranslation: "168px" },
  lg: { width: "300px", spineTranslation: "272px" },
};

type Props<Tag extends HTMLTag = "div"> = Polymorphic<{ as: Tag }> & {
  textured?: boolean;
  size?: "sm" | "default" | "lg";
  coverImage?: ImageMetadata;
};

const {
  textured,
  size = "default",
  class: className,
  coverImage,
  ...props
} = Astro.props;

const defaultColorClasses = "bg-neutral-200 text-primary";
---

<div
  class="group z-10 h-min w-min shadow-xl will-change-auto perspective-[900px]"
  {...props}
>
  <div
    style={`width: ${sizeMap[size].width}; border-radius: 6px 4px 4px 6px;`}
    class="relative aspect-2/3 transform-[rotateY(0deg)] transition-transform duration-300 ease-out transform-3d group-hover:-translate-x-1 group-hover:scale-[1.066] group-hover:transform-[rotateY(-20deg)]"
  >
    <!-- Front Side -->
    <div
      style="transform: translateZ(25px); border-radius: 6px 4px 4px 6px;"
      class={cn(
        "absolute inset-y-0 left-0 flex size-full flex-col overflow-hidden p-[12%] after:pointer-events-none after:absolute after:inset-0 after:rounded-[inherit] after:border after:border-solid after:border-[#00000014] after:shadow-[0_1.8px_3.6px_#0000000d,0_10.8px_21.6px_#00000014,inset_0_-.9px_#0000001a,inset_0_1.8px_1.8px_#ffffff1a,inset_3.6px_0_3.6px_#0000001a] after:content-['']",
        className || defaultColorClasses,
      )}
    >
      <div
        class="absolute top-0 left-0 h-full opacity-40"
        style="min-width: 8.2%; background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0) 12%, hsla(0, 0%, 100%, .25) 29.25%, hsla(0, 0%, 100%, 0) 50.5%, hsla(0, 0%, 100%, 0) 75.25%, hsla(0, 0%, 100%, .25) 91%, hsla(0, 0%, 100%, 0)), linear-gradient(90deg, rgba(0, 0, 0, .03), rgba(0, 0, 0, .1) 12%, transparent 30%, rgba(0, 0, 0, .02) 50%, rgba(0, 0, 0, .2) 73.5%, rgba(0, 0, 0, .5) 75.25%, rgba(0, 0, 0, .15) 85.25%, transparent);"
      >
      </div>
      <div class="h-full pl-1">
        <slot />
      </div>
      {
        textured && (
          <div
            style={`border-radius: 6px 4px 4px 6px; background-image: ${texturedBackground};`}
            class="pointer-events-none absolute inset-0 -top-3.5 rotate-180 bg-cover bg-no-repeat opacity-50 mix-blend-hard-light brightness-110"
          />
        )
      }
      {
        coverImage && (
          <Picture
            src={coverImage}
            formats={["webp", "avif", "png"]}
            alt="Book cover"
            style={`border-radius: 6px 4px 4px 6px`}
            class={`pointer-events-none absolute inset-0 top-0 -z-10 h-full w-full object-cover`}
          />
        )
      }
    </div>

    <!-- Spine -->
    <div
      class="absolute top-2.5 bottom-0.75 left-0 z-10 w-12 bg-[linear-gradient(90deg,#eaeaea_0%,#0000_80%),linear-gradient(#fff,#fafafa)]"
      style={`transform: translateX(${sizeMap[size].spineTranslation}) rotateY(90deg);`}
    >
    </div>

    <!-- Back Side -->
    <div
      style="transform: translateZ(-25px); border-radius: 6px 4px 4px 6px;"
      class={cn(
        "absolute inset-y-0 overflow-hidden size-full left-0 flex flex-col justify-end p-[12%]",
        className || defaultColorClasses,
      )}
    >
    </div>
  </div>
</div>
