<div class="my-20 flex gap-2 px-2">
  <div class="bg-middle aspect-square w-0.5 rounded-full"></div>
  <div class="bg-middle aspect-square w-0.5 rounded-full"></div>
  <div class="bg-middle aspect-square w-0.5 rounded-full"></div>
</div>
